* {
  box-shadow: none;
  outline: none;
  font-size: ${fntSize}px;
  transition: all 0.25s ease;
}

window {
  background-color: transparent;
}

button {
  background-color: @background;
  outline-style: none;
  border: none;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
}

button:focus {
  background-size: 20%;
}

button:hover {
  background-color: @foreground;
  color: @background;
  background-size: 25%;
}

button:hover#lock {
  border-radius: ${active_rad}px ${active_rad}px 0px ${active_rad}px;
  margin: ${y_hvr}px 0px 0px ${x_hvr}px;
}

button:hover#logout {
  border-radius: ${active_rad}px 0px ${active_rad}px ${active_rad}px;
  margin: 0px 0px ${y_hvr}px ${x_hvr}px;
}

button:hover#shutdown {
  border-radius: ${active_rad}px ${active_rad}px ${active_rad}px 0px;
  margin: ${y_hvr}px ${x_hvr}px 0px 0px;
}

button:hover#reboot {
  border-radius: 0px ${active_rad}px ${active_rad}px ${active_rad}px;
  margin: 0px ${x_hvr}px ${y_hvr}px 0px;
}

#lock {
  background-image: url("${CONF_DIR}/icons/lock.png");
  margin: ${y_mgn}px 0px 0px ${x_mgn}px;
}

#shutdown {
  background-image: url("${CONF_DIR}/icons/poweroff.png");
  margin: ${y_mgn}px ${x_mgn}px 0px 0px;
}

#logout {
  background-image: url("${CONF_DIR}/icons/logout.png");
  margin: 0px 0px ${y_mgn}px ${x_mgn}px;
}

#reboot {
  background-image: url("${CONF_DIR}/icons/reboot.png");
  margin: 0px ${x_mgn}px ${y_mgn}px 0px;
}
